# MongoDB
MONGO_URL=mongodb://mongo:27017/bookstore

# Microservices URLs (used by api-gateway)
INVENTORY_URL=http://inventory-service:3000
ORDER_URL=http://order-service:3001
PAYMENT_URL=http://payment-service:3002

# API Gateway URL (used by bookstore-web-app)
API_GATEWAY=http://api-gateway:9001

# Ports
INVENTORY_PORT=3000
ORDER_PORT=3001
PAYMENT_PORT=3002
GATEWAY_PORT=9001
WEBAPP_PORT=8082
MONGO_PORT=27017
